mixin pane(title, image, url, color)
    a.pane(href="#{url}", target="_blank", style="background-color: #{color};")
        img.image(src="#{image}", alt="" style="border-radius: 100%;")
        h3.title #{title}
        
section.work
    .flex.flex--center
        .col-2
            h2.tagline.hidden Some  
                span.bigger.green work 
                | I've done.
            span.breakline.hidden
            .content.hidden.ani-long
                .card.afl
                    p.date Jul, 2015 - Present
                    .card-logo AFL
                    h3.title Atlantic Football League
                    h4.subtitle Website Manager
                    .text 
                        p As the website manager for the Atlantic Football League, I am tasked with building and maintaining the league's website. This includes uploading news and media content, updating player stats and game scores, and more. 
                        p You can visit the website at: 
                            a(href="http://www.atlanticfootball.co/", target="_blank") www.atlanticfootball.co

                .card.unb
                    p.date May, 2014 - Aug, 2014
                    .card-logo UNB
                    h3.title UNB Faculty of Education
                    h4.subtitle Website & Database Developer
                    p.text As the only developer for the Faculty of Education at the University of New Brunswick, I built dynamic and responsive web applications with PHP, HTML, CSS/SCSS, and JavaScript/jQuery.

                .card.mariner
                    p.date May, 2014 - Aug, 2014
                    .card-logo Mariner
                    h3.title Mariner Innovations
                    h4.subtitle Junior Program Analyst
                    p.text At Mariner, I built COBOL/JCL analyzation tools to examine and visualize program interactions and database calls within large-scale applications. Used AWK, Batch, C# (Roslyn), Java (ANTLR), HTML, CSS, and Javascript (D3.js).
                .flex.flex--center 
                    .col-2 
                        h3.title Projects
                .flex.flex--center 
                    .col-1
                        +pane("Donald Knuth Biography", "assets/img/knuth.jpg", "http://davidleger95.github.io/knuth-biography", "#D0021B")

                    //.col-1
                        +pane("GitHub", "assets/img/logo-gh.png", "https://github.com/davidleger95", "#44246E")
                        
            .next-button.btn-skills.fade.ani-long